In [1]:
import numpy as np
import pandas as pd
import os, sys, json

In [2]:
def process(sign, path_prefix, fun_parse_name, fun_read_one_file):
    signs = []
    sample = []
    ilist = []
    oa = []
    aa = []
    kappa = []
    each_acc = []
    for name in os.listdir(path_prefix): 
        try:
            path = "%s/%s" %(path_prefix, name)
            real_sign, cur_sample, cur_index = fun_parse_name(sign, name)
            signs.append(real_sign)
            sample.append(cur_sample)
            ilist.append(cur_index)
#             print('a', real_sign, 'b', sign)
            temp = fun_read_one_file(path)
            oa.append(temp.get('oa', -1))
            aa.append(temp.get('aa', -1))
            kappa.append(temp.get('kappa', -1))
            each_acc.append(temp.get('each_acc' ''))
        except Exception as e:
            print(e)
            continue

    df = pd.DataFrame({'sign':signs, 'sample': sample, 'ilist': ilist, 'oa':oa, 'aa':aa, 'kappa':kappa, 'each_acc':each_acc})
    return df

In [3]:
# ssgrn
def ssgrn_parse_name(sign, name):
    s, i = [int(x) for x in name.split('.')[0].split('_')]
    return sign, s, i

def ssgrn_read_one_file(path):
    temp = {}
    with open(path, 'r', encoding='utf8') as fin:
        start = False
        each_acc = []
        for line in fin:
            if 'Test set' in line:
                start = True
            if start:
                if 'OA' in line:
                    temp['oa'] = float(line.split('=')[-1])
                if 'AA' in line:
                    temp['aa'] = float(line.split('=')[-1])
                if 'Kappa' in line:
                    temp['kappa'] = float(line.split('=')[-1])
                if 'Class' in line:
                    line = line.strip('.\n')
                    items = line.split(' ')
                    class_index = int(items[0].split('_')[-1].strip(':'))
                    val = float(items[-1])
                    each_acc.append(val)
            temp['each_acc'] = each_acc
    return temp

In [4]:
for sign in ['indian', 'pavia', 'salinas']:
    ssgrn_path_prefix = '../../result/ssgrn/log_%s/' % sign
    print(sign)
    df = process(sign, ssgrn_path_prefix, ssgrn_parse_name, ssgrn_read_one_file)
    df_temp = df[(df['oa']!=-1) &(df['aa']!=-1) &(df['kappa']!=-1)]
    tt = df_temp.groupby(['sample']).mean()
    print(tt)
    print('----------------')

indian
        ilist        oa         aa     kappa
sample
10        5.5  0.776886  87.242651  0.749141
20        5.5  0.876722  93.544222  0.860193
30        5.5  0.905616  95.422785  0.892733
40        5.5  0.924881  96.282505  0.914183
50        5.5  0.945176  97.261924  0.937224
60        5.5  0.945634  97.285147  0.937642
70        5.5  0.949914  97.554407  0.942469
80        5.5  0.953904  97.663054  0.946923
----------------
pavia
        ilist        oa         aa     kappa
sample
10        5.5  0.657459  69.573227  0.571881
20        5.5  0.823756  84.686654  0.773137
30        5.5  0.914452  93.267281  0.888403
40        5.5  0.930062  94.585279  0.908454
50        5.5  0.950782  96.632677  0.935350
60        5.5  0.960704  96.842332  0.948089
70        5.5  0.952852  96.483259  0.937811
80        5.5  0.961977  96.782366  0.950418
----------------
salinas
        ilist        oa         aa     kappa
sample
10        5.5  0.900956  90.199432  0.890306
20        5.5  0.968293  96.899661  0.964717
30        5.5  0.970564  97.119494  0.967225
40        4.0  0.984656  98.845722  0.982908
50        5.5  0.966047  96.709313  0.962364
60        5.5  0.982627  98.743477  0.980638
70        5.5  0.985244  98.888691  0.983544
80        5.5  0.986231  98.967892  0.984645
----------------

In [4]:
sign = 'indian'
ssgrn_path_prefix = '../../result/ssgrn/log_%s/' % sign
df = process(sign, ssgrn_path_prefix, ssgrn_parse_name, ssgrn_read_one_file)
sample = 20
df[(df['sign']==sign)&(df['sample']==sample)]

,sign,sample,ilist,oa,aa,kappa,each_acc
10,indian,20,1,0.857315,93.235038,0.838884,"[100.0, 80.7528, 77.1605, 95.8525, 92.8726, 99..."
11,indian,20,10,0.867169,93.103438,0.849136,"[100.0, 78.7642, 71.4815, 100.0, 93.7365, 94.3..."
12,indian,20,2,0.904776,94.757680,0.891830,"[100.0, 79.4034, 85.4321, 95.3917, 92.0086, 97..."
13,indian,20,3,0.886777,94.327631,0.871813,"[100.0, 83.0966, 90.7407, 97.6959, 88.3369, 97..."
14,indian,20,4,0.861840,93.274634,0.843709,"[100.0, 71.5909, 90.3704, 96.3134, 89.4168, 97..."
15,indian,20,5,0.885571,94.233390,0.869870,"[100.0, 72.5142, 85.679, 95.8525, 98.7041, 99...."
16,indian,20,6,0.883861,93.180056,0.868007,"[100.0, 88.9915, 80.0, 98.1567, 79.6976, 93.66..."
17,indian,20,7,0.871795,93.286703,0.855020,"[100.0, 74.3608, 80.8642, 98.1567, 85.3132, 97..."
18,indian,20,8,0.889794,94.278742,0.874994,"[100.0, 79.3324, 86.6667, 99.0783, 87.905, 97...."
19,indian,20,9,0.858321,91.764907,0.838670,"[100.0, 76.0653, 85.9259, 100.0, 87.473, 88.73..."

In [6]:
select_index = 4
path_save = '../../result/ssgrn/ssgrn_select/%s_%s_%s' % (sign, sample, select_index)
us = df[(df['sample']==sample)&(df['ilist']==select_index)]
jj = {
    'oa': us['oa'].values[0],
    'aa':  us['aa'].values[0],
    'kappa':  us['kappa'].values[0],
    'each_acc':  us['each_acc'].values[0]
}
rr = {'eval': jj}
with open(path_save, 'w') as fout:
    fout.write(json.dumps(rr))

In [5]:
# default
def json_read_one_file(path):
    res = {}
    with open(path, 'r', encoding='utf8') as fin:
        temp = json.loads(fin.read())
    ev = temp['eval']
    res['oa'] = ev['oa']
    res['aa'] = ev['aa']
    res['kappa'] = ev['kappa']
    res['each_acc'] = ev['each_acc']
    return res

def json_parse_name(sign, name):
    file_sign = '_'.join(name.split('_')[0:2])
    s,i,_= name.split('_')[-3:]
    if sign == '':
        sign = file_sign
    return sign, s, i

In [8]:
path_prefix = '../../result/res_conv/'
df = process('', path_prefix, json_parse_name, json_read_one_file)
df.groupby(['sign', 'sample']).mean()

C:\Users\chenn\AppData\Local\Temp\ipykernel_1180\748470777.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['sign', 'sample']).mean()

                                   oa         aa      kappa
sign                sample
indian_conv1d.json  10      50.060462  60.892639  44.165427
                    20      57.736191  68.595974  52.622986
                    30      64.940337  76.275154  60.442860
                    40      69.301604  78.965652  65.401085
                    50      68.963568  79.171921  64.966068
                    60      72.676714  81.766366  69.089324
                    70      73.450280  80.525149  69.836268
                    80      75.828422  82.635469  72.412472
indian_conv2d.json  10      41.790068  48.856171  34.973426
                    20      50.107657  61.091011  44.260513
                    30      59.224885  71.026398  54.295648
                    40      61.460942  70.188365  56.570879
                    50      59.731993  69.526753  55.015014
                    60      66.862662  75.643869  62.640882
                    70      66.844598  72.653832  62.412733
                    80      66.568435  72.256262  62.106296
pavia_conv1d.json   10      73.575880  80.409041  66.623872
                    20      80.358250  84.712552  74.644099
                    30      82.258975  84.898541  76.985969
                    40      83.187005  87.726561  78.350094
                    50      84.571186  87.665467  79.942867
                    60      79.002273  73.144809  71.739675
                    70      86.569544  84.612763  82.311532
                    80      84.183470  87.126884  79.484735
pavia_conv2d.json   10      67.489106  73.529887  58.791408
                    20      75.978026  80.254346  69.124073
                    30      75.372418  81.590975  68.782137
                    40      79.923142  84.827575  74.241329
                    50      80.714454  85.631957  75.229645
                    60      70.651577  78.878065  63.442095
                    70      75.642291  80.315992  69.139367
                    80      74.348012  84.586237  68.051046
salinas_conv1d.json 10      79.922548  88.461822  77.771518
                    20      87.121114  93.592456  85.685843
                    30      88.802774  94.257825  87.548602
                    40      84.740414  91.334835  83.001476
                    50      89.055111  94.894658  87.824071
                    60      88.391732  94.086550  87.035460
                    70      89.395386  94.614786  88.162149
                    80      89.686844  94.506776  88.446772
salinas_conv2d.json 10      80.578851  87.630839  78.449085
                    20      83.495326  90.981349  81.691265
                    30      85.272419  92.296757  83.671086
                    40      82.587822  89.660954  80.740489
                    50      83.202010  86.433089  81.207299
                    60      83.664918  88.760613  81.790859
                    70      80.692335  86.197773  78.661497
                    80      78.579349  85.338645  76.410434

In [10]:
df[(df['sign']=='salinas_conv1d.json')].sort_values(['sample', 'ilist'])

,sign,sample,ilist,oa,aa,kappa,each_acc
160,salinas_conv1d.json,10,0,80.544387,89.642196,78.500128,[99.44972486 99.46178687 91.35300102 96.315028...
161,salinas_conv1d.json,10,1,80.099687,89.434729,77.991817,[98.94947474 99.46178687 92.37029502 95.881502...
162,salinas_conv1d.json,10,2,77.703867,84.121144,75.234799,[85.04252126 99.78471475 64.24211597 95.520231...
163,salinas_conv1d.json,10,3,80.570327,89.342673,78.476102,[98.7993997 99.46178687 90.89521872 96.026011...
164,salinas_conv1d.json,10,4,80.694473,89.768370,78.654742,[98.94947474 99.40796555 92.16683622 96.098265...
165,salinas_conv1d.json,20,0,85.944730,93.410113,84.411844,[99.59778783 99.67620076 98.92638037 99.708879...
166,salinas_conv1d.json,20,1,87.483506,93.603032,86.071189,[ 99.64806435 99.7301673 99.13087935 99.70...
167,salinas_conv1d.json,20,2,88.015016,93.687787,86.649495,[ 99.59778783 99.64921749 98.87525562 99.70...
168,salinas_conv1d.json,20,3,85.976324,93.441133,84.450953,[ 99.59778783 99.75715057 98.87525562 99.70...
169,salinas_conv1d.json,20,4,88.185991,93.820217,86.845736,[ 99.49723479 99.7301673 98.77300613 99.70...
170,salinas_conv1d.json,30,0,89.893567,94.196818,88.698177,[99.69681657 99.72943723 97.327852 99.266862...
171,salinas_conv1d.json,30,1,84.042573,93.371559,82.402875,[99.59575543 99.75649351 97.79033916 99.120234...
172,salinas_conv1d.json,30,2,89.634476,94.751843,88.478877,[99.54522486 99.78354978 98.76670092 99.266862...
173,salinas_conv1d.json,30,3,90.540364,94.740367,89.450604,[99.59575543 99.72943723 97.43062693 99.266862...
174,salinas_conv1d.json,30,4,89.902887,94.228538,88.712477,[99.646286 99.75649351 97.68756423 99.266862...
175,salinas_conv1d.json,40,0,83.518107,91.985451,81.784129,[99.8984256 96.88008681 80.11363636 99.852289...
176,salinas_conv1d.json,40,1,77.070052,83.285619,74.291579,[99.59370239 99.94574064 20.29958678 99.704579...
177,salinas_conv1d.json,40,2,87.423582,93.719930,85.946228,[99.74606399 99.67444384 99.48347107 99.852289...
178,salinas_conv1d.json,40,3,87.369366,94.231386,86.007712,[99.69527679 99.89148128 92.25206612 99.704579...
179,salinas_conv1d.json,40,4,88.320963,93.451788,86.977733,[99.8476384 99.81009224 78.35743802 99.630723...
180,salinas_conv1d.json,50,0,89.517898,94.401225,88.277465,[99.94895355 99.53754081 95.95015576 98.958333...
181,salinas_conv1d.json,50,1,89.791671,94.781597,88.590835,[99.79581419 99.89118607 98.80581516 98.363095...
182,salinas_conv1d.json,50,2,89.960434,95.245970,88.824721,[99.69372129 99.64635473 99.06542056 98.660714...
183,salinas_conv1d.json,50,3,88.552195,95.256959,87.314401,[99.84686064 99.75516866 99.63655244 98.958333...
184,salinas_conv1d.json,50,4,87.453356,94.787536,86.112934,[100. 99.56474429 99.7403946 98.43...
185,salinas_conv1d.json,60,0,85.805639,93.623590,84.276139,[99.74345818 99.64539007 97.70354906 98.275862...
186,salinas_conv1d.json,60,1,90.095732,94.943298,88.928793,[99.74345818 99.64539007 97.07724426 98.350824...
187,salinas_conv1d.json,60,2,89.100792,94.302043,87.783372,[99.74345818 99.80905619 98.85177453 97.676161...
188,salinas_conv1d.json,60,3,88.647520,93.778750,87.279729,[99.69214982 99.83633388 93.68475992 96.626686...
189,salinas_conv1d.json,60,4,88.308977,93.785069,86.909267,[99.58953309 99.69994544 98.2776618 98.500749...
190,salinas_conv1d.json,70,0,91.118489,95.598563,90.085148,[99.63898917 99.37089716 92.5498426 99.773413...
191,salinas_conv1d.json,70,1,90.746854,95.424931,89.655000,[99.48427024 99.78118162 99.63273872 99.622356...
192,salinas_conv1d.json,70,2,88.277462,95.273930,87.003619,[99.63898917 99.83588621 99.73767051 99.773413...
193,salinas_conv1d.json,70,3,87.479485,93.203319,85.924174,[99.74213512 99.89059081 93.17943337 98.413897...
194,salinas_conv1d.json,70,4,89.354638,93.573187,88.142807,[99.53584322 99.89059081 81.16474292 99.169184...
195,salinas_conv1d.json,80,0,87.136937,92.554673,85.567696,[99.74079834 99.45145365 92.66877637 99.467275...
196,salinas_conv1d.json,80,1,89.910878,94.088274,88.698127,[97.66718507 99.5337356 88.34388186 99.543379...
197,salinas_conv1d.json,80,2,90.669644,95.235033,89.560507,[99.74079834 99.12232584 90.92827004 99.391171...
198,salinas_conv1d.json,80,3,91.468145,96.103685,90.471701,[ 99.68895801 99.42402633 99.05063291 99.39...
199,salinas_conv1d.json,80,4,89.248614,94.552215,87.935828,[99.58527735 99.09489852 98.52320675 99.543379...

In [13]:
path_prefix = '../../result/res_transformer//'
df = process('', path_prefix, json_parse_name, json_read_one_file)
# df.groupby(['sign', 'sample']).mean()
df[df['sign']=='salinas_cross'].sort_values(['sign', 'sample'])

,sign,sample,ilist,oa,aa,kappa,each_acc
80,salinas_cross,10,0,94.113287,96.402904,93.466688,[100. 99.97308934 100. 98.04...
81,salinas_cross,10,1,94.298579,97.209976,93.672686,[100. 100. 100. 97.39...
82,salinas_cross,10,2,94.174433,97.235868,93.538829,[100. 100. 100. 98.12...
83,salinas_cross,10,3,95.217625,97.820903,94.686644,[100. 99.89235737 100. 97.90...
84,salinas_cross,10,4,94.165169,97.420346,93.524432,[100. 99.91926803 100. 98.26...
85,salinas_cross,10,4,94.393078,97.222810,93.777604,[100. 99.94617869 100. 97.76...
86,salinas_cross,20,0,96.043413,97.962294,95.591562,[ 99.84917044 100. 100. 100. ...
87,salinas_cross,20,1,95.244290,97.805544,94.706195,[100. 100. 100. 99.70...
88,salinas_cross,20,2,96.242264,98.228656,95.823607,[100. 100. 100. 100. ...
89,salinas_cross,20,3,96.706871,98.275711,96.334435,[ 98.99446958 100. 100. 99.92...
90,salinas_cross,20,4,95.346503,97.736587,94.819243,[100. 100. 100. 100. ...
91,salinas_cross,30,0,95.804209,98.257939,95.336762,[100. 100. 100. 99.70...
92,salinas_cross,30,1,96.081940,98.530928,95.645550,[100. 100. 100. 100. ...
93,salinas_cross,30,2,96.939365,98.745115,96.594911,[100. 100. 100. 100. ...
94,salinas_cross,30,4,95.820985,98.307008,95.355916,[100. 100. 100. 100. ...
95,salinas_cross,40,0,97.674288,98.981490,97.409621,[100. 100. 100. 99.48...
96,salinas_cross,40,1,97.623811,99.146643,97.355540,[100. 100. 100. 99.55...
97,salinas_cross,40,2,97.943502,99.155024,97.708932,[100. 100. 100. 99.85...
98,salinas_cross,40,3,97.765896,99.156010,97.511910,[100. 100. 100. 99.63...
99,salinas_cross,40,4,97.823852,99.256431,97.576984,[100. 100. 100. 99.92...
100,salinas_cross,50,0,98.340490,99.171782,98.150650,[100. 100. 100. 99.18...
101,salinas_cross,50,1,97.356035,98.921520,97.054176,[100. 100. 100. 99.47...
102,salinas_cross,50,2,97.236025,98.696948,96.919925,[ 99.79581419 100. 100. 99.18...
103,salinas_cross,50,3,97.519173,98.751214,97.236332,[ 99.23430322 100. 100. 99.25...
104,salinas_cross,50,4,97.506047,98.793270,97.220206,[100. 100. 100. 99.10...
105,salinas_cross,60,0,98.587523,99.319868,98.425937,[100. 100. 100. 100. ...
106,salinas_cross,60,1,98.267788,99.196544,98.069762,[100. 100. 100. 99.92...
107,salinas_cross,60,2,98.032688,99.234933,97.807834,[100. 100. 100. 99.92...
108,salinas_cross,60,3,99.035152,99.614651,98.924607,[100. 100. 100. 99.62...
109,salinas_cross,60,4,98.348662,99.255044,98.159246,[100. 100. 100. 99.70...
110,salinas_cross,70,0,99.045445,99.537162,98.935537,[100. 100. 100. 99.84...
111,salinas_cross,70,1,98.632308,99.271480,98.473356,[100. 100. 100. 99.92...
112,salinas_cross,70,2,99.275595,99.650471,99.191694,[100. 100. 100. 99.92...
113,salinas_cross,70,3,99.258616,99.651860,99.172756,[100. 100. 100. 99.69...
114,salinas_cross,70,4,99.205795,99.667883,99.113972,[100. 100. 100. 100. ...
115,salinas_cross,80,0,97.723703,98.875432,97.462526,[100. 100. 100. 99.92...
116,salinas_cross,80,1,98.586539,99.311967,98.423983,[100. 100. 100. 100. ...
117,salinas_cross,80,2,98.185396,99.035692,97.977758,[100. 100. 100. 99.46...
118,salinas_cross,80,3,98.688717,99.331162,98.538113,[100. 100. 100. 99.92...
119,salinas_cross,80,4,98.666011,99.180640,98.512540,[100. 100. 100. 100. ...

In [20]:
path_prefix = '../../result/ssftt/res_ssftt/'
df = process('', path_prefix, json_parse_name, json_read_one_file)
df.groupby(['sign', 'sample']).mean()
df[df['sign']=='pavia_ssftt.json'].sort_values(['sign', 'sample'])

,sign,sample,ilist,oa,aa,kappa,each_acc
41,pavia_ssftt.json,10,0,85.032563,87.062640,80.612247,[58.02748829 93.07902784 96.50550503 96.758349...
42,pavia_ssftt.json,10,1,85.819707,87.147286,81.499698,[71.72632533 92.47277214 92.77166108 94.106090...
43,pavia_ssftt.json,10,2,89.703884,89.363980,86.470420,[75.04908624 96.78094318 94.44710388 88.932547...
44,pavia_ssftt.json,10,3,89.064330,89.604262,85.682571,[ 79.45929618 94.4417619 92.91527046 90.50...
45,pavia_ssftt.json,10,4,85.976667,88.204538,81.849145,[75.86467301 89.53806535 90.66539014 93.811394...
46,pavia_ssftt.json,20,0,91.625974,93.304477,89.037594,[ 85.6602632 92.22180471 83.69408369 97.93...
47,pavia_ssftt.json,20,1,92.506339,93.631153,90.181232,[88.56451369 93.16120028 83.79028379 97.667542...
48,pavia_ssftt.json,20,2,92.609635,93.345838,90.268811,[ 92.02843745 93.73557357 82.68398268 96.64...
49,pavia_ssftt.json,20,3,91.893605,92.809268,89.363694,[ 86.643473 93.27392775 78.64357864 97.01...
50,pavia_ssftt.json,20,4,93.088553,94.088554,90.919360,[85.72076842 94.79306458 87.87878788 96.911957...
51,pavia_ssftt.json,30,0,89.354444,92.049929,86.193638,[ 86.30510529 86.32579623 79.21701305 86.48...
52,pavia_ssftt.json,30,1,93.666776,93.448472,91.617164,[86.97167096 97.72812718 92.94345094 91.760052...
53,pavia_ssftt.json,30,2,94.191408,94.162694,92.337764,[89.89547038 96.04167786 87.96520058 90.474620...
54,pavia_ssftt.json,30,3,94.906601,94.658121,93.237385,[ 85.89607635 98.46393469 89.94683422 89.71...
55,pavia_ssftt.json,30,4,95.261845,94.862884,93.739664,[ 88.3048023 97.71738547 83.42194297 93.01...
56,pavia_ssftt.json,40,0,97.357129,97.272586,96.492607,[ 95.37247762 98.8607663 94.90043711 97.65...
57,pavia_ssftt.json,40,1,96.840815,96.907387,95.814204,[94.65938401 98.01171476 93.00631374 95.370370...
58,pavia_ssftt.json,40,2,96.131177,95.888121,94.859219,[91.51873767 99.01660487 92.52064109 95.502645...
59,pavia_ssftt.json,40,3,96.404659,96.260455,95.223126,[91.32149901 99.12407975 93.58912093 97.619047...
60,pavia_ssftt.json,40,4,95.555922,95.850646,94.111328,[89.91048399 97.94185609 93.78339 96.130952...
61,pavia_ssftt.json,50,0,91.504040,93.852217,88.911749,[ 81.87205592 91.99956987 98.82869693 95.35...
62,pavia_ssftt.json,50,1,97.984690,97.168242,97.320057,[ 96.70262878 99.53223292 88.67740361 94.62...
63,pavia_ssftt.json,50,2,93.691821,93.487451,91.664945,[ 73.87934964 98.83864724 92.67935578 89.41...
64,pavia_ssftt.json,50,3,96.285971,95.475880,95.081018,[ 97.4016107 97.22565729 83.55295266 86.52...
65,pavia_ssftt.json,50,4,92.621556,92.662323,90.164876,[91.90092691 94.86531534 89.65348951 79.362972...
66,pavia_ssftt.json,60,0,98.304764,97.934613,97.744882,[ 98.53903515 99.25762548 95.38989701 96.37...
67,pavia_ssftt.json,60,1,97.639454,97.622540,96.867447,[ 97.15416223 98.13868417 94.65424228 94.37...
68,pavia_ssftt.json,60,2,97.570793,97.131716,96.767421,[ 95.72363415 99.18231212 95.83128985 94.64...
69,pavia_ssftt.json,60,3,91.876598,91.478625,89.277947,[98.11292041 93.74899134 88.62187347 99.900133...
70,pavia_ssftt.json,60,4,96.865233,97.188712,95.849932,[ 96.59108203 97.04664049 93.96763119 95.60...
71,pavia_ssftt.json,70,0,98.362834,98.190178,97.821947,[ 96.12863893 99.42408095 97.93001479 97.39...
72,pavia_ssftt.json,70,1,97.859821,97.246503,97.151330,[ 96.78402683 99.22493137 98.1764416 94.28...
73,pavia_ssftt.json,70,2,98.531296,98.482430,98.046208,[ 96.2200884 99.48328758 97.7821587 97.16...
74,pavia_ssftt.json,70,3,98.419779,98.309175,97.897296,[ 96.37250419 99.34334464 98.22572696 97.66...
75,pavia_ssftt.json,70,4,98.291653,98.175143,97.728012,[ 94.77213839 99.47790516 98.86643667 96.39...
76,pavia_ssftt.json,80,0,96.982595,95.857919,95.980110,[ 89.39093268 99.78997253 83.06092125 96.98...
77,pavia_ssftt.json,80,1,95.765170,96.245675,94.374803,[88.93298733 97.25887231 97.07776127 91.353887...
78,pavia_ssftt.json,80,2,98.114419,98.002588,97.491434,[ 96.15325904 99.10603694 99.0094106 96.28...
79,pavia_ssftt.json,80,3,97.565151,97.653178,96.765369,[ 92.00122119 98.86908288 99.65329371 97.15...
80,pavia_ssftt.json,80,4,98.259464,98.241402,97.684899,[ 95.29842772 99.18681674 95.98811293 96.98...

In [59]:
df[(df['sign']=='salinas_ssftt.json')&(df['sample']=='80')]

,sign,sample,ilist,oa,aa,kappa,each_acc
116,salinas_ssftt.json,80,0,98.974437,99.600843,98.856273,[100. 100. 100. 100. ...
117,salinas_ssftt.json,80,1,98.639520,99.474979,98.483097,[100. 100. 100. 99.92...
118,salinas_ssftt.json,80,2,98.908210,99.567142,98.782110,[ 99.89631934 100. 100. 100. ...
119,salinas_ssftt.json,80,3,99.040663,99.622423,98.929983,[ 99.89631934 100. 100. 100. ...
120,salinas_ssftt.json,80,4,98.838199,99.603255,98.704699,[ 99.74079834 100. 100. 100. ...

In [8]:
path_prefix = '../../result/res_diffusion/'
df = process('', path_prefix, json_parse_name, json_read_one_file)
df.groupby(['sign', 'sample']).mean()
df[df['sign']=='salinas_diffusion.json'].sort_values(['sign', 'sample'])

,sign,sample,ilist,oa,aa,kappa,each_acc
64,salinas_diffusion.json,10,0,93.296151,95.592678,92.561180,[100. 98.89666308 99.8982706 93.85...
65,salinas_diffusion.json,10,1,92.384517,95.396739,91.554196,[100. 99.3810549 100. 95.59...
66,salinas_diffusion.json,10,2,91.543293,94.764605,90.622004,[100. 97.5780409 99.8982706 94.94...
68,salinas_diffusion.json,20,0,96.803509,98.329701,96.446033,[ 99.39668175 100. 100. 98.61...
69,salinas_diffusion.json,20,1,97.214221,98.231367,96.901201,[ 99.39668175 99.94603346 100. 97.67...
70,salinas_diffusion.json,20,2,96.840677,98.168730,96.487255,[ 99.39668175 100. 100. 98.54...
71,salinas_diffusion.json,30,0,98.741822,99.244975,98.598379,[100. 100. 100. 99.92...
72,salinas_diffusion.json,30,1,98.618800,99.264270,98.461595,[100. 100. 100. 99.85...
73,salinas_diffusion.json,30,2,98.124849,99.073325,97.912487,[100. 100. 100. 99.63...
74,salinas_diffusion.json,40,0,98.207108,99.228281,98.004292,[100. 99.81009224 100. 99.18...
75,salinas_diffusion.json,40,1,98.741797,99.386959,98.598913,[100. 100. 100. 99.33...
76,salinas_diffusion.json,40,2,98.452018,99.298341,98.276666,[100. 99.94574064 100. 99.18...
77,salinas_diffusion.json,50,0,98.064843,98.843267,97.844566,[ 97.09035222 96.73558215 100. 98.28...
78,salinas_diffusion.json,50,1,97.796696,98.780268,97.547159,[ 99.28534967 96.00108814 100. 97.84...
79,salinas_diffusion.json,50,2,98.377993,99.004147,98.193141,[ 97.54977029 97.79651795 100. 97.76...
80,salinas_diffusion.json,60,0,99.020106,99.496242,98.907823,[100. 100. 100. 98.57...
81,salinas_diffusion.json,60,1,98.993775,99.497160,98.878537,[100. 100. 100. 98.27...
82,salinas_diffusion.json,60,2,99.048318,99.545731,98.939288,[100. 100. 100. 98.50...
83,salinas_diffusion.json,70,0,99.528382,99.696442,99.474012,[100. 100. 100. 99.39...
84,salinas_diffusion.json,70,1,99.251071,99.627106,99.165014,[100. 100. 100. 99.84...
85,salinas_diffusion.json,70,2,99.260503,99.594940,99.175440,[100. 100. 100. 99.62...
86,salinas_diffusion.json,80,0,99.502356,99.667584,99.444870,[100. 100. 100. 100. ...
87,salinas_diffusion.json,80,0,99.050124,99.509121,98.940876,[100. 100. 100. 100. ...
88,salinas_diffusion.json,80,1,99.447482,99.655734,99.383678,[100. 100. 100. 100. ...
89,salinas_diffusion.json,80,2,99.498571,99.596333,99.440659,[100. 100. 100. 99.77...
67,salinas_diffusion.json,salinas,diffusion.json,98.354802,99.278198,98.168576,[100. 99.70157352 100. 99.85...

In [6]:
path_prefix = '../../result/res_minigcn//'
df = process('', path_prefix, json_parse_name, json_read_one_file)

In [7]:
df

,sign,sample,ilist,oa,aa,kappa,each_acc
0,Indian_10,10,0,50.669045,64.096257,44.969477,[ 75. 44.14668547 32.92682927 54.62...
1,Indian_20,20,0,60.519167,70.020052,55.230369,[ 80.76923077 60.9375 39.38271605 69.12...
2,Indian_30,30,0,63.916369,69.090686,59.438623,[12.5 65.87982833 42.625 60.869565...
3,Indian_40,40,0,67.946198,70.254012,63.663994,[16.66666667 55.18731988 47.97468354 68.527918...
4,Indian_50,50,0,67.399497,69.700710,63.118533,[26.08695652 50.87082729 51.15384615 61.497326...
5,Indian_60,60,0,71.906177,76.153798,68.173005,[ 65.2173913 62.28070175 61.68831169 75.70...
6,Indian_70,70,0,68.973310,75.741796,65.048164,[60.86956522 70.25036819 69.86842105 69.461077...
7,Indian_80,80,0,72.877101,78.241410,69.095733,[ 78.26086957 53.70919881 63.6 68.78...
8,Pavia_20,20,0,68.116725,81.161851,61.085107,[ 50.55211012 59.62746256 89.85088985 96.91...
9,Pavia_30,30,0,82.355432,84.037430,76.620127,[ 60.6271777 92.20688544 79.89366844 82.36...
10,Pavia_40,40,0,82.801301,84.458803,77.274326,[ 73.78243059 91.06883766 88.63525983 92.03...
11,Pavia_50,50,0,82.648963,83.040298,76.902521,[ 66.26652484 94.74702941 92.14250854 78.89...
12,Pavia_60,60,0,83.274931,84.385931,77.979344,[ 72.81996652 92.33955565 94.31093673 89.94...
13,Pavia_70,70,0,83.825274,85.880731,78.741864,[ 83.46288676 88.58388503 91.37506161 94.72...
14,Pavia_80,80,0,87.091021,86.889089,82.707230,[ 82.50648756 95.27707469 87.46904408 90.08...
15,Salinas_10,10,0,79.150994,90.251488,77.080065,[98.89944972 96.66307858 77.87385554 99.566473...
16,Salinas_20,20,0,86.074820,91.998535,84.471303,[99.49723479 99.64921749 74.38650307 99.344978...
17,Salinas_30,30,0,88.180581,94.296857,86.823451,[99.14098029 99.94588745 97.995889 99.560117...
18,Salinas_40,40,0,89.205257,94.913348,87.985112,[99.08583037 99.97287032 99.2768595 99.556868...
19,Salinas_50,50,0,89.279754,94.929867,88.064597,[ 99.13221031 99.97279652 97.55970924 98.80...
20,Salinas_60,60,0,90.368448,95.365184,89.261982,[ 98.71729092 99.97272231 99.79123173 99.62...
21,Salinas_70,70,0,90.037541,95.566513,88.922136,[99.27797834 99.9452954 97.90136411 99.169184...
22,Salinas_80,80,0,90.098204,95.031075,88.915822,[98.70399171 99.94514536 99.15611814 99.467275...